body {
  margin: 0;
  font-family: Arial, sans-serif;
 
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack the children vertically */
}

.background-holder {
      position: absolute;
      top: 0;
      left: 0;
      width: 2500px;
      height: 1500px;
      z-index: -3; /* Ensure the background is behind everything else */
      background-image: url("img/paper0.jpg");
      background-repeat: repeat;
 
    }



#app {
  z-index: 50;
  flex: 1; /* To allow the container to grow and consume the available space */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.image-frame {
  mix-blend-mode: multiply; /* Apply CSS blend mode */
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Specific width for the image frame */
  z-index: 20; /* Ensure the image is behind other elements */
}

.image-frame img {
  position: absolute;
  width: 100%;
  mix-blend-mode: multiply; /* Apply CSS blend mode */
}

.canvas-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey; /* Background color to blend with */
  z-index: -2; /* Ensure the canvas is behind the image */
}

#main-drawing canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply; /* Apply CSS blend mode */
}

canvas {
  position: relative;
  margin: 10px;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
}


.controls {
  z-index: 100;
  background-color: hsla(100, 100%, 100%, .9);
  border: 2px solid magenta;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
}
